<template name="passwordRecovery">
  <div align="center" class="row">
    {{#if resetPassword}}
       <form id="new-password" action="action">
          <div>
             <input type="text" id="new-password-password" />
             <input type="submit" value="Change Password" />
          </div>
        </form>
    {{else}}
        <form id="recovery-form" action="action">
          <div>
             <input type="text" id="recovery-email" />
             <input class="btn btn-lg" type="submit" value="Send Reset Instructions" />
           </div>
        </form>
    {{/if}}
  </div>
</template>
