<template name="home">
  {{#if gameRunning}}
   <div class="container-cntr">
       <div class="jumbotron">
         <h1 class="jumbo-title"> aubg survival</h1>
         <h4 class="powered-by">powered by  <a href="http://fb.com/aubgspaces" target="_blank">AUBG Spaces </a></h4>
         <h1 class="jumbo-players-killed"> Players killed: <span>{{playersKilled}}</span></h1>
     </div>
   </div>

  {{/if}}

  {{#unless gameRunning}}
    <a href="/signup" class="btn btn-primary">Sign up</a>
  {{/unless}}

</template>
