<template name="adminDashboard">
    {{#if gameRunning}}
        <button class="btn btn-danger js-btn-stop-game">Stop the game</button>
    {{/if}}

    {{#unless gameRunning}}
        <button class="btn btn-success js-btn-start-game">Start the game</button>
        <button class="btn btn-primary js-btn-assignUsers"> Assign the users </button>
    {{/unless}}

    {{#each usersStats}}
      {{> userInfo}}
    {{/each}}
</template>


<template name="userInfo">

  <p>Name: {{profile.firstName}}</p>
  <p>Name: {{profile.lastName}}</p>
  <p>Status: {{profile.alive}}</p>
  <p>Token: {{profile.token}}</p>
  <p>Target: {{currentTarget}}</p>
  <p>Hunters: {{currentHunter}}</p>
  <hr>
</template>
